@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* math font */
@font-face {
    font-family: "Latin Modern Math";
    src:
        local("Latin Modern Math"),
        url("./latinmodern-math.otf");
}

/* code font */
@font-face {
    font-family: "Cascadia Code";
    src:
        local("Cascadia Code"),
        url("./CascadiaCode.woff2");
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.3;
}


dt {
    font-weight: bold;
}

math {
    font-family: "Latin Modern Math";
    font-size: 1.075em;
}

code {
    font-family: "Cascadia Code";
}
