@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* math font */
@font-face {
    font-family: "Latin Modern Math";
    src:
        local("Latin Modern Math"),
        url("./latinmodern-math.otf");
}

/* code font */
@font-face {
    font-family: "Cascadia Code";
    src:
        local("Cascadia Code"),
        url("./CascadiaCode.woff2");
}

:root {
    --text: #333;
    --background: #ffffff;
    --secondary: #ffffff;
    --accent: #4b5a86;
    --border: #000000;
    --svg-filter: invert(16%) sepia(2%) saturate(109%) hue-rotate(71deg) brightness(103%) contrast(89%);

    --table-head: #516475;
    --table-border: darkgray;
    --row-2n: #f5f5f5;
    --row-2n1: #d4dbe2;
}

.dark-mode {
    --text: #bec5da;
    --background: #04121a;
    --primary: #394b51;
    --secondary: #0c1921;
    --accent: #6a8b95;
    --accent-svg-filter: invert(92%) sepia(10%) saturate(201%) hue-rotate(175deg) brightness(88%) contrast(94%);
    --bit-bottom: #4e666e;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: var(--text);
    background-color: var(--background);
    width: 100%;
    margin: 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.5rem;
}

main,
footer {
    padding: 12px 8px;
    width: 650px;
    max-width: 100%;
    margin: auto;
}

main {
    padding-top: 1rem;
}

footer {
    border-top: 1px solid var(--border);
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    text-decoration: underline;
    text-align: center;
    margin: 12px 0 4px 0;
}

aside.subheader {
    text-align: center;
    font-style: italic;
}

p,
ul {
    margin: 12px 0;
}

dt {
    font-weight: bold;
}

math {
    font-family: "Latin Modern Math", "Cambria Math";
    font-size: 1.075em;
}

code {
    font-family: "Cascadia Code", monospace;
}

a {
    color: #0c70d4;
}

a:visited {
    color: rebeccapurple;
}

a:active {
    color: rgb(243, 66, 22);
}

hr {
    width: 100%;
    border: none;
    border-bottom: 2px dashed var(--text);
    margin: 24px 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    /* border: 1px solid var(--border); */
    margin: 12px 0;
}

caption {
    text-decoration: underline;
}

th {
    border: 1px solid var(--border) !important;
    background-color: var(--table-head);
    color: whitesmoke;
}

th,
td {
    padding: 4px 8px;
}

td:first-child {
    text-align: right;
}

td {
    text-align: center;
    border: 1px solid var(--table-border);
}

td[colspan] {
    text-align: center !important;
}

td:last-child {
    text-align: left;
}

tr:nth-child(2n) {
    background-color: var(--row-2n);
}

tr:nth-child(2n+1) {
    background-color: var(--row-2n1);
}

.note {
    font-size: 0.9em;
    margin: 4px 0;
}